:root {
    --main-bg-color: #b8c7df;
    --tab-active-color: #eff0f1;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #b8c7df;
}

#content > * {
    margin: 20px;
}

.btn-content-active{
    background-color: #eff0f1;
}

.btn-content-inactive{
    background-color: #b8c7df;
}
